.sidebarContent {
  height: 165.2px;
}

.mainText {
  width: 80%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  font-size: 32px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
}
