.containerNumbers {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.number {
  width: 32px;
  height: 32px;
  padding: auto;
  border-radius: 50%;
  text-align: center;
  border: 2px solid black;
}

.number:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.numberActive {
  background-color: #eeb426;
  color: white;
}

.numberInactive {
  color: #000;
  background-color: white;
}

@media screen and (max-width: 1440px) {
  .containerNumbers{
    gap: 32px;
  }
  }
  @media screen and (max-width: 1366px) {
    .containerNumbers{
      gap: 24px;
    }
  }
  @media screen and (max-width: 375px) {
    .containerNumbers{
      gap: 16px;
    }
  }