.containerBarista{
    background-color: #9CAF96;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 166px);
    font-family: "Roboto Condensed";
    font-style: normal;
}